@import url('https://fonts.googleapis.com/css2?family=Itim&family=Orbitron:wght@500&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    text-transform: uppercase;
    display: flex;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    justify-content: center;
    align-items: center;
    background: url(/Basketball.jpeg);
}

main {
    border:1.5rem solid #99ABD8;
    padding: 2rem;
    background-color: #1B244A;
    border-radius: 0.5rem;
}

.container {
    display: flex;
    gap: 7rem;
}

.head {
    font-family: 'Itim', cursive;
    color: rgb(219, 219, 224);
}

.column1 {
    text-align: center;
    font-size: 7.5rem;
}

.column2 {
    text-align: center;
    font-size: 7.5rem;
}

#score1 {
    background-color: black;
    color: #F94F6D;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 0 3rem;
}

#score2 {
    background-color: black;
    color: #F94F6D;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 0 3rem;
}

button {
    cursor: pointer;
    border: 1px solid #99ABD8;
    border-radius: 0.5rem;
    font-size: 3rem;
    background-color: #1B244A;
    color: #99ABD8;
    padding: 1rem;
    font-family: 'Orbitron', sans-serif;
}

.add1 {
    padding: 1rem 1.6rem;
}

#new_game {
    border: 0.3rem solid #99ABD8;
    color: rgb(219, 219, 224);
    margin: 3rem auto 0 auto;
    display: flex;
    text-transform: capitalize;
    font-family: 'Itim', cursive;
}
